header.header
  .header__holder
    .header__top
      .header__logo
        a(href="#")
      form.header__search(action="#", method="post", name="search")
        .header__search-row
          input(type="text", name="text", placeholder="Search")
          button(type="submit") Go
    nav.header__nav
      ul.header__list
        li.header__item.active
          a.header__link(href="/") Home
        li.header__item
          a.header__link(href="#") About us
        li.header__item
          a.header__link(href="#") Services
        li.header__item
          a.header__link(href="#") Partners
        li.header__item
          a.header__link(href="#") Customers
        li.header__item
          a.header__link(href="#") Projects
        li.header__item
          a.header__link(href="#") Careers
        li.header__item
          a.header__link(href="#") Contacts
