.news
  .news__top
    .news-block
      .news-block__title 
        span About whitesquare
      .news-block__box
        .news-block__img
        .news-block__text
          p In ultricies pellentesque massa a porta. Aliquam 
            | ipsum enim, hendrerit ut porta nec, ullamcorper 
            | et nulla. In eget mi dui, sit amet scelerisque 
            | nunc. Aenean augue arcu, convallis ac vulputate 
            | vitae, mollis non lectus. Donec hendrerit lacus 
            | ac massa ornare hendrerit sagittis lacus tempor. 
            | Vivamus et dui et neque accumsan varius et ut erat. 
            | Enean augue arcu, convallis ac ultrices.
          a.news-block__link(href="#") Read more
    .news-block
      .news-block__title 
        span A world from ceo
      .news-block__box
        .news-block__img
        .news-block__text
          blockquote
            p "In ultricies pellentesque massa a porta. Aliquam 
              | ipsum enim, hendrerit ut porta nec, ullamcorper 
              | et nulla. In eget mi dui, sit amet scelerisque 
              | nunc. Aenean augue arcu, convallis ac vulputate 
              | vitae, mollis non lectus. Donec hendrerit lacus 
              | ac massa ornare hendrerit sagittis lacus tempor. 
              | Vivamus et dui et neque accumsan varius et ut erat. 
              | Enean augue arcu, convallis ac ultrices."
            span Yane Naumovsky, CEO
  .news__bottom
    .news-block
      .news-block__title 
        span Services
      .news-block__box
        .news-block__text
          p In ultricies pellentesque massa a porta. Aliquam 
            | ipsum enim, hendrerit ut porta nec, ullamcorper 
            | et nulla. In eget mi dui, sit amet scelerisque 
            | nunc. Aenean augue arcu, convallis ac vulputate 
            | vitae, mollis non lectus. Donec hendrerit lacus 
            | ac massa ornare hendrerit sagittis lacus tempor. 
            | Vivamus et dui et neque accumsan varius et ut erat. 
            | Enean augue arcu, convallis ac ultrices.
          a.news-block__link(href="#") Read more
    .news-block
      .news-block__title 
        span Our teams
      .news-block__box
        .news-block__text
          p In ultricies pellentesque massa a porta. Aliquam 
            | ipsum enim, hendrerit ut porta nec, ullamcorper 
            | et nulla. In eget mi dui, sit amet scelerisque 
            | nunc. Aenean augue arcu, convallis ac vulputate 
            | vitae, mollis non lectus. Donec hendrerit lacus 
            | ac massa ornare hendrerit sagittis lacus tempor. 
            | Vivamus et dui et neque accumsan varius et ut erat. 
            | Enean augue arcu, convallis ac ultrices.
          a.news-block__link(href="#") Read more
    .news-block
      .news-block__title 
        span 27/7/365 support
      .news-block__box
        .news-block__text
          p In ultricies pellentesque massa a porta. Aliquam 
            | ipsum enim, hendrerit ut porta nec, ullamcorper 
            | et nulla. In eget mi dui, sit amet scelerisque 
            | nunc. Aenean augue arcu, convallis ac vulputate 
            | vitae, mollis non lectus. Donec hendrerit lacus 
            | ac massa ornare hendrerit sagittis lacus tempor. 
            | Vivamus et dui et neque accumsan varius et ut erat. 
            | Enean augue arcu, convallis ac ultrices.
          a.news-block__link(href="#") Read more
