.tab
  .tab__content.active.tab__content-first(id="tab-11")
    .tab__content__title Fusce vitae nibh quis diam fermentum
    .tab__content__subtitle Etiam adipiscing ultricies commodo.
  .tab__content.tab__content-second(id="tab-12")
    .tab__content__title Dfffkgri fjgh iijgi dopdf lvlfkjg
    .tab__content__subtitle Etiam adipiscing ultricies commodo. Etiam adipiscing ultricies commodo. Etiam adipiscing ultricies commodo.
  .tab__content.tab__content-third(id="tab-13")
    .tab__content__title Hgkh g g g dlfkd d 56
    .tab__content__subtitle Etiam adipiscing ultricies commodo.
  .tab__content.tab__content-fourth(id="tab-14")
    .tab__content__title 9056896 gkjgkjff jgj kjbkj 9056896 gkjgkjff jgj 9056896 gkjgkjff jgj kjbkj kjbkj
    .tab__content__subtitle Etiam adipiscing ultricies commodo.
  ul.tab__list
    li.tab__item.active(data-class="first")
      a.tab__link(href="#tab-11") 
        span 1
        | Lorem ipsum dolor
    li.tab__item(data-class="second")
      a.tab__link(href="#tab-12")
        span 2
        | Ultricies pellentesque 
    li.tab__item(data-class="third")
      a.tab__link(href="#tab-13")
        span 3
        | Aliquam ipsum
    li.tab__item(data-class="fourth")
      a.tab__link(href="#tab-14")
        span 4
        | Nullam sed mauris ut
        
