extends ./layouts/_layout.pug
block content
  main.main
    .box
      .box__item
      .box__item
      .box__item.box__item--red
    .image
      .image__item.thumb 
        img(src="data/img1.jpg")
      .image__item.thumb
        img(src="data/img1.jpg")
      .image__item.thumb
        img(src="data/img1.jpg")
      .image__item.thumb
        img(src="data/img1.jpg")
      .image__item.thumb
        img(src="data/img1.jpg")
    .block
      .block__btn Запуск
      .block__square
        .block__title Красотища
